@import url("header_style.css");

.add_stock {
    margin: auto;
    width: 500px; 
}

form {  
        margin: auto;  
        padding: 40px 0; 
        background-color: white;
        border-radius: 15px ;       
}  

label {
    font-family: system-ui;  
    font-size: 15px;
    text-align: center;
    display: block;
}

input, textarea {
    display: block;
    width: 300px;
    text-align: center;
    margin: auto;
}




