@import url("header_style.css");

body  
{  
    margin: 0;  
    padding: 0;    
    background-color: #b5eeff;
}

.book{
    transition: background-color 1s ease;
    background:rgba(87, 133, 158, 0.5);;
}

input[type="submit"] {
    display: block;
    margin: auto;  
    border: none;
    font-size: 15px;
    background-color: #b5eeff;
    padding: 9px;
}

button{
    display: block;
    margin: auto;  
    border: none;
    font-size: 15px;
    background-color: rgba(87, 133, 158, 0.5);
    padding: 9px;
}