body  
{  
    margin: 0;  
    padding: 0;    
    background-color: #b5eeff;
}

input[type="submit"], button {
    display: block;
    margin: auto;  
    border: none;
    font-size: 15px;
    background-color: rgba(87, 133, 158, 0.5);
    padding: 9px;
}