@import url("common_style.css");

h1{
    font-size: 20px;
    text-align: center;
    margin-top: 0;
}

.register {
    margin: auto;
    width: 400px;    
}

form {  
        margin: auto;  
        padding: 10px 0; 
        background-color: white;
        border-radius: 15px ;       
}  

input[type="text"], input[type="password"] {
    display: block;
    margin: 0 auto 20px auto;
    font-size: 15px;
    border-radius: 50px;
    padding: 5px;
    text-align: center;
}

a {
    display: block;
    text-align: center;
    font-size: 15px;
    margin-top: 15px;
}


img {
    margin: auto; 
    display:block;
}

