<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link href="{{ url_for('static', filename='css/login_style.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>BookShop - Login</h1>
    <div class="login"> 
    <form action="{{page}}" method="post">
      <input type="text" id="username" name="username" placeholder="Username"><br>
      <input type="password" id="password" name="password" placeholder="Password"><br><br>
      <input type="submit" value="LOGIN">
      <p>{{error}}</p>
    </form>
    
</body>
</html>