<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link href="{{ url_for('static', filename='css/login_style.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="login"> 
        <h1>BookShop</h1>
        <form action="{{page}}" method="post">
          <input type="text" id="username" name="username" placeholder="Username">
          <input type="password" id="password" name="password" placeholder="Password">
          <input type="submit" value="LOGIN">
          <a href="/register">New user? Create an account!</a>
          <p class="error">{{error}}</p>
          <p class="success">{{success}}</p>
        </form>
    </div>
</body>
</html>